:root.theme-light {
  --themes-main-color: #000;
  --themes-bg-color: #fff;
  --themes-button-text-color: #fff;
  --themes-fw-title: 700;
  --themes-fw-content: 400;
  --background: repeating-linear-gradient(
      90deg,
      #d3d3d3 0px 2px,
      rgba(0, 0, 0, 0) 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0px 2px, rgba(0, 0, 0, 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #1a1a1a 100%);
}

@media (prefers-color-scheme: light) {
  :root {
    --themes-main-color: #000;
    --themes-bg-color: #fff;
    --themes-button-text-color: #fff;
    --themes-fw-title: 700;
    --themes-fw-content: 400;
    --background: repeating-linear-gradient(
        90deg,
        #d3d3d3 0px 2px,
        rgba(0, 0, 0, 0) 2px 4px
      ),
      repeating-linear-gradient(
        180deg,
        #d3d3d3 0px 2px,
        rgba(0, 0, 0, 0) 2px 4px
      ),
      linear-gradient(180deg, #e7e7e7 0%, #1a1a1a 100%);
  }
}

:root.theme-dark {
  --themes-main-color: #00cc14;
  --themes-bg-color: #000;
  --themes-button-text-color: #00cc14;
  --themes-fw-title: 785;
  --themes-fw-content: 465;
  --background: repeating-linear-gradient(90deg, black 0px 2px, rgba(0, 0, 0, 0) 2px 4px),
  repeating-linear-gradient(180deg, black 0px 2px, rgba(0, 0, 0, 0) 2px 4px),
  linear-gradient(180deg, #007f0c 0%, #004306 100%);
}
