:root {
  --font-main: "Inter-Variable", serif;
  --font-accent: "PressStart2P", fantasy;
  --themes-bg-color: #000;
  --themes-main-color: #00cc14;
  --themes-button-text-color: #00cc14;
  --themes-animation-color: #ff0000;
  --themes-fw-title: 785;
  --themes-fw-content: 465;
  --background: repeating-linear-gradient(90deg, black 0px 2px, rgba(0, 0, 0, 0) 2px 4px),
  repeating-linear-gradient(180deg, black 0px 2px, rgba(0, 0, 0, 0) 2px 4px),
  linear-gradient(180deg, #007f0c 0%, #004306 100%);
}
